apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Unpoller: Lightweight Go application, mostly idle
  - target:
      kind: Deployment
      name: unpoller
    patch: |-
      - op: test
        path: /spec/template/spec/containers/0/name
        value: unpoller
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 5m
            memory: 16Mi
          limits:
            cpu: 100m
            memory: 64Mi
