apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

replacements:
  # Inject the domain name into the Certificate and IngressRoute
  - sourceValue: traefik.zimmermann.sh
    targets:
      - select:
          kind: Certificate
          name: traefik-tls-cert
        fieldPaths:
          - spec.dnsNames.0
      - select:
          kind: IngressRoute
          name: traefik-dashboard
        fieldPaths:
          - spec.routes.0.match
        options:
          delimiter: "`"
          index: 1

patches:
  # Traefik: Cloud-native edge router with high availability
  - target:
      kind: Deployment
      name: traefik
    patch: |-
      - op: replace
        path: /spec/replicas
        value: 2

      - op: test
        path: /spec/template/spec/containers/0/name
        value: traefik
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: GOMEMLIMIT
            value: "241591910"

  # Traefik service with static IP and BGP advertisement
  - target:
      kind: Service
      name: traefik
    patch: |-
      - op: add
        path: /metadata/annotations/io.cilium~1lb-ipam-ips
        value: "192.168.10.20"
