apiVersion: postgresql.cnpg.io/v1
kind: Cluster

metadata:
  name: crowdsec-db
  namespace: crowdsec

spec:
  instances: 1

  # PostgreSQL version and configuration
  imageName: ghcr.io/cloudnative-pg/postgresql:16.1

  # Apply I/O workload class "light" to the database
  template:
    metadata:
      labels:
        homelab.app/io-class: "light"

  # Crowdsec DB is "light" I/O workload. Prefers not to be on the same node as "heavy" I/O workloads
  affinity:
    enablePodAntiAffinity: true
    podAntiAffinityType: preferred
    topologyKey: kubernetes.io/hostname
    podAntiAffinity:
      - weight: 50
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: homelab.app/io-class
                operator: In
                values:
                  - "heavy"
          topologyKey: kubernetes.io/hostname

  # Storage configuration
  storage:
    size: PLACEHOLDER

  # Bootstrap from scratch or restore from backup
  bootstrap:
    initdb:
      database: crowdsec
      owner: crowdsec

  postgresql:
    parameters:
      # Memory settings
      shared_buffers: "64MB"
      effective_cache_size: "256MB"
      work_mem: "4MB"
      maintenance_work_mem: "64MB"
      autovacuum_work_mem: "64MB"

      # WAL settings
      wal_buffers: "16MB"
      max_wal_size: "1GB"
      min_wal_size: "80MB"
      wal_keep_size: "64MB"
      wal_compression: "on"

---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor

metadata:
  name: crowdsec-db
  namespace: crowdsec
  # Prometheus Operator label (Opt-In)
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      cnpg.io/cluster: crowdsec-db
  podMetricsEndpoints:
    - port: metrics
