version: "3"

tasks:
  create:
    desc: "register machine classes"
    summary: |
      Register Machine Classes in Omni.
      Underlying command: omnictl apply
    sources:
      - "cluster/homelab-machine-classes.yaml"
    preconditions:
      - sh: command -v omnictl
        msg: "omnictl is not installed"
      - sh: test -f cluster/homelab-machine-classes.yaml
        msg: "cluster/homelab-machine-classes.yaml is missing"
    cmds:
      - omnictl apply -f cluster/homelab-machine-classes.yaml

  update:
    desc: "sync cluster template [env]"
    summary: |
      Sync local cluster template with Omni.
      Arguments: [env] (default: prod)
      Underlying command: omnictl cluster template sync
    vars:
      ENVIRONMENT: "{{if gt (len .CLI_ARGS_LIST) 0}}{{index .CLI_ARGS_LIST 0}}{{else}}prod{{end}}"
      MANIFEST: "homelab-cluster-{{.ENVIRONMENT}}.yaml"
    dir: cluster
    requires:
      vars:
        - name: ENVIRONMENT
          enum: [dev, prod]
    preconditions:
      - sh: command -v omnictl
        msg: "omnictl is not installed"
      - sh: test -f "{{.MANIFEST}}"
        msg: "Manifest not found: {{.MANIFEST}}"
    cmds:
      - omnictl cluster template sync --file "{{.MANIFEST}}"

  status:
    desc: "show cluster status [env]"
    summary: |
      Show status of the cluster in Omni.
      Arguments: [env] (default: prod)
      Underlying command: omnictl cluster status
    vars:
      ENVIRONMENT: "{{if gt (len .CLI_ARGS_LIST) 0}}{{index .CLI_ARGS_LIST 0}}{{else}}prod{{end}}"
    requires:
      vars:
        - name: ENVIRONMENT
          enum: [dev, prod]
    preconditions:
      - sh: command -v omnictl
        msg: "omnictl is not installed"
    cmds:
      - omnictl get cluster "homelab-{{.ENVIRONMENT}}" -o yaml

  show:
    desc: "download cluster kube- & talosconfig [env]"
    summary: |
      Download kubeconfig and talosconfig.
      Arguments: [env] (default: prod)
      Underlying command: omnictl kubeconfig / talosconfig
    vars:
      ENVIRONMENT: "{{if gt (len .CLI_ARGS_LIST) 0}}{{index .CLI_ARGS_LIST 0}}{{else}}prod{{end}}"
    requires:
      vars:
        - name: ENVIRONMENT
          enum: [dev, prod]
    preconditions:
      - sh: command -v omnictl
        msg: "omnictl is not installed"
    cmds:
      - omnictl kubeconfig --cluster "homelab-{{.ENVIRONMENT}}" --grant-type authcode-keyboard
      - omnictl talosconfig --cluster "homelab-{{.ENVIRONMENT}}"
