---
version: "3"

tasks:
  init:
    desc: "initialize opentofu backend"
    summary: |
      Initialize OpenTofu environment.
      Underlying command: tofu init
    preconditions:
      - sh: command -v tofu
        msg: "OpenTofu (tofu) is not installed"
    status:
      - test -d .terraform
    cmds:
      - tofu init

  create:
    desc: "provision infrastructure resources"
    summary: |
      Create or update infrastructure resources.
      Underlying command: tofu apply
    sources:
      - tfplan
    generates:
      - terraform.tfstate
    preconditions:
      - sh: command -v tofu
        msg: "OpenTofu (tofu) is not installed"
    deps: [init, status]
    aliases: [update]
    cmds:
      - tofu apply -auto-approve tfplan

  delete:
    desc: "destroy infrastructure resources"
    summary: |
      Destroy all infrastructure resources.
      Underlying command: tofu destroy
    preconditions:
      - sh: command -v tofu
        msg: "OpenTofu (tofu) is not installed"
    deps: [init]
    prompt: "Are you sure you want to destroy the infrastructure?"
    cmds:
      - tofu destroy -auto-approve

  status:
    desc: "show infrastructure drift"
    summary: |
      Check for configuration drift.
      Underlying command: tofu plan
    generates:
      - tfplan
    preconditions:
      - sh: command -v tofu
        msg: "OpenTofu (tofu) is not installed"
    deps: [init]
    cmds:
      - tofu refresh -concise > /dev/null
      - tofu plan -concise -out tfplan

  show:
    desc: "display infrastructure output values"
    summary: |
      Display infrastructure outputs.
      Underlying command: tofu output
    preconditions:
      - sh: command -v tofu
        msg: "OpenTofu (tofu) is not installed"
    deps: [init]
    cmds:
      - tofu output
