apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Configure resources for the Grafana Operator deployment
  - target:
      kind: Deployment
      name: grafana-operator
    patch: |-
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 20m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 512Mi
