apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Configure resources for the CloudNativePG operator deployment
  - target:
      kind: Deployment
      name: cloudnative-pg
    patch: |-
      - op: test
        path: /spec/template/spec/containers/0/name
        value: manager
      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi
