apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Loadbalancer configuration
  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
      - op: add
        path: /metadata/labels/bgp.cilium.io~1ip-pool
        value: default
      - op: add
        path: /metadata/labels/bgp.cilium.io~1advertise-service
        value: default
      - op: add
        path: /metadata/annotations/io.cilium~1lb-ipam-ips
        value: 192.168.2.33
    target:
      kind: Service
      name: mimir-gateway

  # Ingress host
  - patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: Host(`mimir.zimmermann.phd`)
    target:
      kind: IngressRoute
      name: mimir-gateway-ingress

  # Certificate DNS names
  - patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: mimir.zimmermann.phd
    target:
      kind: Certificate
      name: mimir-tls-cert

  # Scale up replicas - Distribute High Availability
  # Values.yaml base has lower defaults or HA?
  # Let's enforce HA here.
  # Note: Can't easily patch values.yaml Replicas via Kustomize patches for HELM charts directly unless we use `valuesFile`/`patchesStrategicMerge` locally or patch Deployment.
  # But `helmCharts` block allows `valuesInline`.
  # Kustomize `patches` target K8s resources defined by Helm.
  # We should use `valuesInline` or `valuesFile` overlay for Helm specific overrides if Kustomize built-in Transformer doesn't catch them.
  # But Kustomize `helmCharts` are inflated at build time. We can patch the resulting Deployments/StatefulSets.
  # Target: Deployment/StatefulSet name? `mimir-ingester`, `mimir-distributor`...
  # Let's stick to patching Deployments for now.

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: StatefulSet
      name: mimir-ingester

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: mimir-distributor

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: mimir-querier

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: Deployment
      name: mimir-query-frontend

  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 3
    target:
      kind: StatefulSet
      name: mimir-store-gateway
