apiVersion: batch/v1
kind: Job
metadata:
  name: setup-rustfs-mimir
  namespace: mimir
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: mc
          image: minio/mc:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Configuring MinIO Client..."
              mc alias set rustfs http://rustfs-svc.rustfs.svc.cluster.local:9000 $ADMIN_ACCESS_KEY $ADMIN_SECRET_KEY

              echo "Creating Mimir User..."
              mc admin user add rustfs $MIMIR_ACCESS_KEY $MIMIR_SECRET_KEY

              echo "Assigning Policy..."
              mc admin policy set rustfs readwrite user=$MIMIR_ACCESS_KEY;

              echo "Creating Buckets..."
              mc mb --ignore-existing rustfs/mimir-blocks
              mc mb --ignore-existing rustfs/mimir-ruler
              mc mb --ignore-existing rustfs/mimir-alertmanager

              echo "Done."
          env:
            - name: ADMIN_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-secret
                  key: access-key
            - name: ADMIN_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-secret
                  key: secret-key
            - name: MIMIR_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: mimir-s3-token
                  key: AWS_ACCESS_KEY_ID
            - name: MIMIR_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: mimir-s3-token
                  key: AWS_SECRET_ACCESS_KEY
      restartPolicy: OnFailure
