[Unit]
Description=Renew Lego SSL Certificates
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Group=root
EnvironmentFile="${env_file}"
Environment="OWNER=${owner}"
Environment="SRC_CERT_DIR=/var/snap/lego/common/.lego/certificates"
Environment="DST_CERT_DIR=${cert_path}"
ExecStart=/usr/local/bin/omni-ssl.sh renew
ExecStartPost=docker restart omni
