apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana

metadata:
  name: grafana
  namespace: grafana-instance
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    security:
      admin_user: "$__file{/etc/secrets/auth/admin-user}"
      admin_password: "$__file{/etc/secrets/auth/admin-password}"
    rendering:
      server_url: http://localhost:8081/render
      callback_url: http://localhost:3000/

  deployment:
    spec:
      replicas: 2
      template:
        spec:
          containers:
            - name: grafana-image-renderer
              image: grafana/grafana-image-renderer:latest
              ports:
                - containerPort: 8081
                  name: http
              resources:
                requests:
                  cpu: 50m
                  memory: 64Mi
                limits:
                  cpu: 100m
                  memory: 128Mi
            - name: grafana
              volumeMounts:
                - name: grafana-auth
                  mountPath: /etc/secrets/auth
              resources:
                requests:
                  cpu: 50m
                  memory: 128Mi
                limits:
                  cpu: 100m
                  memory: 512Mi
          volumes:
            - name: grafana-auth
              secret:
                secretName: grafana-instance-admin-credentials
