deployment:
  # -- Deployment or DaemonSet
  kind: Deployment
  # -- Number of pods
  replicas: 2

ingressClass:
  enabled: true
  isDefaultClass: true

ingressRoute:
  dashboard:
    # Enable the dashboard ingress route
    enabled: true
    # Router match rule
    matchRule: Host(`traefik.zimmermann.sh`)
    # Entry points for the dashboard
    entryPoints: ["websecure"]
    # TLS configuration
    tls:
      secretName: traefik-tls-cert

ports:
  web:
    # Web entry point (Port 80)
    port: 8000
    expose:
      default: true
    exposedPort: 80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true

  websecure:
    # Websecure entry point (Port 443)
    port: 8443
    expose:
      default: true
    exposedPort: 443
    http:
      tls:
        enabled: true
