---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: StorageClass
      name: longhorn
    patch: |-
      - op: replace
        path: /parameters/numberOfReplicas
        value: "1"
