apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: unifi-poller
resources:
  - ./namespace.yaml
  - ./sealedsecret.yaml

helmCharts:
  - name: unpoller
    repo: https://unpoller.github.io/helm-chart
    releaseName: unpoller
    version: 2.1.0
    valuesFile: values.yaml
    namespace: unifi-poller

patches:
  # Inject Unifi password from secret
  - patch: |-
      - op: add
        path: /spec/template/spec/containers/0/env/-
        value:
          name: UP_UNIFI_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: unifi-poller-secret
              key: unifi-password
    target:
      kind: Deployment
      name: unpoller

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: unifi-poller

commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"
