apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: unifi-poller
resources:
  - ./namespace.yaml
  - ./sealedsecret.yaml

helmCharts:
  - name: unpoller
    repo: https://unpoller.github.io/helm-chart
    releaseName: unpoller
    version: 2.11.2-Chart6
    valuesFile: values.yaml
    namespace: unifi-poller

patches:
  - target:
      kind: Deployment
      name: unpoller
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: unpoller
      spec:
        template:
          spec:
            containers:
              - name: unpoller
                env:
                  - name: UP_UNIFI_DEFAULT_PASS
                    valueFrom:
                      secretKeyRef:
                        name: unifi-poller-secret
                        key: unifi-password

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: unifi-poller

commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"
