apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: unifi-poller
resources:
  - ./namespace.yaml
  - ./sealed-secret.yaml

helmCharts:
  - name: unpoller
    repo: https://unpoller.github.io/helm-chart
    releaseName: unpoller
    version: 2.1.0
    valuesFile: values.yaml
    namespace: unifi-poller

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/name: unifi-poller

commonAnnotations:
  argocd.argoproj.io/sync-wave: "10"
