###############################################################################
## Control plane patches
###############################################################################
machine:
  features:
    ## Enable Talos API access from within Kubernetes
    ## Required for the Talos Cloud Controller Manager (CCM) to function
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:reader
      allowedKubernetesNamespaces:
        - kube-system

  kubelet:
    ## Configure the kubelet to look for an external cloud provider (Talos CCM)
    extraArgs:
      cloud-provider: external
