apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Scale down replicas - Backend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: StatefulSet
      name: loki-backend

  # Scale down replicas - Write
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: StatefulSet
      name: loki-write

  # Scale down replicas - Read
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: loki-read

  # Scale down replicas - Gateway
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: loki-gateway

  # Reduce storage requests - Backend
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 128Mi
    target:
      kind: StatefulSet
      name: loki-backend

  # Reduce storage requests - Write
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 1Gi
    target:
      kind: StatefulSet
      name: loki-write

  # Loadbalancer configuration
  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
      - op: add
        path: /metadata/labels/bgp.cilium.io~1ip-pool
        value: default
      - op: add
        path: /metadata/labels/bgp.cilium.io~1advertise-service
        value: default
    target:
      kind: Service
      name: loki-gateway
