---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: smtprelay
        labels:
          bgp.cilium.io/ip-pool: default
          bgp.cilium.io/advertise-service: default
      spec:
        type: LoadBalancer
    target:
      kind: Service
      name: smtprelay
