image:
  pullPolicy: IfNotPresent
  # tag: v1.9.0 # Set by chart version or override here

enabledControllers:
  - cloud-node
  - node-csr-approval

# Tolerate uninitialized nodes so CCM can start and approve CSRs
tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
    operator: Exists
  - effect: NoSchedule
    key: node.cloudprovider.kubernetes.io/uninitialized
    operator: Exists
