apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  # Loadbalancer configuration
  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
      - op: add
        path: /metadata/labels/bgp.cilium.io~1ip-pool
        value: default
      - op: add
        path: /metadata/labels/bgp.cilium.io~1advertise-service
        value: default
    target:
      kind: Service
      name: mimir-gateway

  # Certificate DNS names
  - patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: mimir.zimmermann.phd
    target:
      kind: Certificate
      name: mimir-tls-cert

  # Scale down replicas - Ingester
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: StatefulSet
      name: mimir-ingester

  # Scale down replicas - Distributor
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: mimir-distributor

  # Scale down replicas - Querier
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: mimir-querier

  # Scale down replicas - Query Frontend
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: mimir-query-frontend

  # Scale down replicas - Store Gateway
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: StatefulSet
      name: mimir-store-gateway

  # Configure Retention for Dev (1m)
  - patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: mimir-compactor
      spec:
        template:
          spec:
            containers:
              - name: compactor
                env:
                  - name: MIMIR_LIMITS_COMPACTOR_BLOCKS_RETENTION_PERIOD
                    value: "1m"
    target:
      kind: StatefulSet
      name: mimir-compactor
