apiVersion: batch/v1
kind: Job
metadata:
  name: setup-rustfs-loki
  namespace: loki
  annotations:
    argocd.argoproj.io/hook: PostSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: mc
          image: minio/mc:latest
          command: ["/bin/sh", "-c"]
          args:
            - |
              echo "Configuring MinIO Client..."
              mc alias set rustfs http://rustfs-svc.rustfs.svc.cluster.local:9000 $ADMIN_ACCESS_KEY $ADMIN_SECRET_KEY

              echo "Creating Loki User..."
              mc admin user add rustfs $LOKI_ACCESS_KEY $LOKI_SECRET_KEY

              echo "Assigning Policy..."
              mc admin policy set rustfs readwrite user=$LOKI_ACCESS_KEY;

              echo "Creating Buckets..."
              mc mb --ignore-existing rustfs/loki-chunks
              mc mb --ignore-existing rustfs/loki-ruler
              mc mb --ignore-existing rustfs/loki-admin
              mc mb --ignore-existing rustfs/loki-data

              echo "Done."
          env:
            - name: ADMIN_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-secret
                  key: access-key
            - name: ADMIN_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: rustfs-secret
                  key: secret-key
            - name: LOKI_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: loki-s3-token
                  key: access-key-id
            - name: LOKI_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: loki-s3-token
                  key: secret-access-key
      restartPolicy: OnFailure
