###############################################################################
## PVE cluster - API connection & auth
###############################################################################
pve_cluster_token_id     = "YOUR_PVE_TOKEN_ID"
pve_cluster_token_secret = "YOUR_PVE_TOKEN_SECRET"
pve_cluster_password     = "YOUR_PVE_PASSWORD"


###############################################################################
## PVE cluster - user configuration
###############################################################################
pve_user_passwords = {
  alice = "YOUR_ALICE_PASSWORD"
  bob   = "YOUR_BOB_PASSWORD"
}


###############################################################################
## PVE cluster - ACME configuration
###############################################################################
pve_cluster_acme_cf_token      = "YOUR_CLOUDFLARE_API_TOKEN"
pve_cluster_acme_cf_zone_id    = "YOUR_CLOUDFLARE_ZONE_ID"
pve_cluster_acme_cf_account_id = "YOUR_CLOUDFLARE_ACCOUNT_ID"


###############################################################################
## PVE node - core configuration
###############################################################################
pve_node_core_subscription_keys = {
  node1 = "YOUR_SUBSCRIPTION_KEY"
}


###############################################################################
## Cloud-Init configurations
###############################################################################
ci_secrets = {
  omni_env_lego = {
    cf_dns_api_token = "YOUR_CLOUDFLARE_API_TOKEN"
    cf_api_email     = "YOUR_EMAIL_ADDRESS"
    primary_domain   = "YOUR_PRIMARY_DOMAIN"
    san_domains      = "YOUR_SAN_DOMAINS" # comma-separated list of domains
  }
  omni_env_bootstrap = {
    github_token       = "YOUR_GITHUB_TOKEN"
    omni_email_address = "YOUR_OMNI_EMAIL_ADDRESS"
  }
  omni_env_docker = {
    omni_account_uuid  = "YOUR_OMNI_ACCOUNT_UUID"
    omni_domain_name   = "YOUR_OMNI_DOMAIN_NAME"
    omni_initial_users = "YOUR_OMNI_INITIAL_USERS"
    auth0_client_id    = "YOUR_AUTH0_CLIENT_ID"
    auth0_issuer       = "YOUR_AUTH0_ISSUER"
  }
}
