###############################################################################
## PVE cluster - API connection & auth
###############################################################################
pve_cluster_token_id     = "YOUR_PVE_TOKEN_ID"
pve_cluster_token_secret = "YOUR_PVE_TOKEN_SECRET"
pve_cluster_password     = "YOUR_PVE_PASSWORD"


###############################################################################
## PVE cluster - user configuration
###############################################################################
pve_user_passwords = {
  alice = "YOUR_ALICE_PASSWORD"
  bob   = "YOUR_BOB_PASSWORD"
}


###############################################################################
## PVE cluster - ACME configuration
###############################################################################
pve_cluster_acme_cf_token      = "YOUR_CLOUDFLARE_API_TOKEN"
pve_cluster_acme_cf_zone_id    = "YOUR_CLOUDFLARE_ZONE_ID"
pve_cluster_acme_cf_account_id = "YOUR_CLOUDFLARE_ACCOUNT_ID"


###############################################################################
## PVE node - core configuration
###############################################################################
pve_node_core_subscription_keys = {
  node1 = "YOUR_SUBSCRIPTION_KEY"
}


###############################################################################
## Cloud-Init configurations
###############################################################################
ci_secrets = {
  lego = {
    CF_DNS_API_TOKEN = "YOUR_CLOUDFLARE_API_TOKEN"
    CF_API_EMAIL     = "YOUR_EMAIL_ADDRESS"
    DOMAIN_NAME      = "YOUR_DOMAIN_NAME"
  }
  omni = {
    GITHUB_TOKEN       = "YOUR_GITHUB_TOKEN"
    OMNI_ACCOUNT_UUID  = "YOUR_OMNI_ACCOUNT_UUID"
    OMNI_DOMAIN_NAME   = "YOUR_OMNI_DOMAIN_NAME"
    OMNI_EMAIL_ADDRESS = "YOUR_OMNI_EMAIL_ADDRESS"
    AUTH0_ISSUER       = "YOUR_AUTH0_ISSUER"
    AUTH0_CLIENT_ID    = "YOUR_AUTH0_CLIENT_ID"
  }
}
