apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: mosquitto
        annotations:
          io.cilium/lb-ipam-ips: "192.168.10.26"
        labels:
          bgp.cilium.io/ip-pool: default
          bgp.cilium.io/advertise-service: default
    target:
      kind: Service
      name: mosquitto
