---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: PersistentVolume
      name: pv-nfs-mosquitto
    patch: |-
      - op: replace
        path: /spec/csi/volumeHandle
        value: linux.zimmermann.eu.com/srv/k8s/mosquitto
      - op: replace
        path: /spec/csi/volumeAttributes
        value:
          server: linux.zimmermann.eu.com
          share: /srv/k8s/mosquitto

  - target:
      kind: Service
      name: mosquitto
    patch: |-
      apiVersion: v1
      kind: Service
      metadata:
        name: mosquitto
        labels:
          bgp.cilium.io/ip-pool: default
          bgp.cilium.io/advertise-service: default
