cluster:
  # The cluster name used in labels and metadata
  name: homelab

# Telemetry Destinations
destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus-operated.prometheus:9090/api/v1/write
  - name: loki
    type: loki
    url: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push

# Features - Cluster Monitoring
clusterMetrics:
  enabled: true
  destinations:
    - prometheus
  # Ensure kube-state-metrics and node-exporter are not BestEffort.
  kube-state-metrics:
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        cpu: 200m
        memory: 256Mi
  node-exporter:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 100m
        memory: 64Mi

# Features - Cluster Events
clusterEvents:
  enabled: true
  destinations:
    - loki

# Features - Node & Pod Logs
nodeLogs:
  enabled: true
  destinations:
    - loki

podLogs:
  enabled: true
  destinations:
    - loki

# Collectors (Alloy instances)
# Alloy instance for collecting metrics.
alloy-metrics:
  enabled: true
  alloy:
    resources:
      requests:
        cpu: 50m
        memory: 256Mi
      limits:
        cpu: 500m
        memory: 512Mi

# Alloy instance for data sources required to be deployed on a single replica.
alloy-singleton:
  enabled: true
  alloy:
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 250m
        memory: 256Mi

# Alloy instance for collecting log data.
alloy-logs:
  enabled: true
  alloy:
    resources:
      requests:
        cpu: 25m
        memory: 128Mi
      limits:
        cpu: 300m
        memory: 384Mi

# Ensure the Alloy Operator itself is not BestEffort.
alloy-operator:
  resources:
    requests:
      cpu: 10m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi
