cluster:
  # The cluster name used in labels and metadata
  name: homelab

# Telemetry Destinations
destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus-operated.prometheus:9090/api/v1/write
  - name: loki
    type: loki
    url: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push

# Features - Cluster Monitoring
clusterMetrics:
  enabled: true
  destinations:
    - prometheus

# Features - Cluster Events
clusterEvents:
  enabled: true
  destinations:
    - loki

# Features - Node & Pod Logs
nodeLogs:
  enabled: true
  destinations:
    - loki

podLogs:
  enabled: true
  destinations:
    - loki

# Support for Prometheus Operator CRDs (ServiceMonitors, etc.)
prometheusOperatorObjects:
  enabled: true

# Collectors (Alloy instances)
# An Alloy instance for collecting metrics.
alloy-metrics:
  enabled: true

# An Alloy instance for data sources required to be deployed on a single replica.
alloy-singleton:
  enabled: true

# An Alloy instance for collecting log data.
alloy-logs:
  enabled: true

# Common Network Policies for all Alloy instances
collectorCommon:
  alloy:
    networkPolicy:
      enabled: true
      flavor: kubernetes
      ingress:
        - from:
            - namespaceSelector:
                matchExpressions:
                  - key: kubernetes.io/metadata.name
                    operator: In
                    values:
                      - ingress-controller
                      - prometheus
