cluster:
  name: homelab

# Remote write / push endpoints for metrics and logs.
destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus-operated.prometheus:9090/api/v1/write
  - name: loki
    type: loki
    url: http://loki-gateway.loki.svc.cluster.local/loki/api/v1/push

# Cluster metrics & events
clusterMetrics:
  enabled: true
  destinations:
    - prometheus

clusterEvents:
  enabled: true
  destinations:
    - loki

# Node & pod logs
nodeLogs:
  enabled: true
  destinations:
    - loki

podLogs:
  enabled: true
  destinations:
    - loki

# Alloy Metrics: Cluster metrics & events
alloy-metrics:
  enabled: true

# Alloy Singleton: Per-cluster tasks like event processing
alloy-singleton:
  enabled: true

# Alloy Logs: Collects and forwards logs to Loki
alloy-logs:
  enabled: true
