apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/cpu
        value: 50m
      - op: replace
        path: /spec/template/spec/containers/0/resources/requests/memory
        value: 128Mi
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/cpu
        value: 200m
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 512Mi
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 2Gi
      - op: replace
        path: /spec/template/spec/containers/0/args/0
        value: "--storage.tsdb.retention.time=7d"
    target:
      kind: StatefulSet
      name: prometheus-server

  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/resources/requests/storage
        value: 32Mi
    target:
      kind: StatefulSet
      name: prometheus-alertmanager

  # - patch: |-
  #     - op: replace
  #       path: /spec/routes/0/match
  #       value: Host(`prometheus.zimmermann.phd`)
  #   target:
  #     kind: IngressRoute
  #     name: prometheus

  - patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: prometheus.zimmermann.phd
    target:
      kind: Certificate
      name: prometheus-tls-cert

  - patch: |-
      - op: replace
        path: /spec/type
        value: LoadBalancer
      - op: add
        path: /metadata/labels/bgp.cilium.io~1ip-pool
        value: default
      - op: add
        path: /metadata/labels/bgp.cilium.io~1advertise-service
        value: default
    target:
      kind: Service
      name: prometheus-server
