apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/routes/0/match
        value: Host(`traefik.zimmermann.phd`)
    target:
      kind: IngressRoute
      name: traefik-dashboard
  - patch: |-
      - op: replace
        path: /spec/dnsNames/0
        value: traefik.zimmermann.phd
    target:
      kind: Certificate
      name: traefik-tls-cert
  - patch: |-
      - op: replace
        path: /spec/replicas
        value: 1
    target:
      kind: Deployment
      name: traefik
