apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

replacements:
  # Inject the domain name into the Certificate and IngressRoute
  - sourceValue: traefik.zimmermann.phd
    targets:
      - select:
          kind: Certificate
          name: traefik-tls-cert
        fieldPaths:
          - spec.dnsNames.0
      - select:
          kind: IngressRoute
          name: traefik-dashboard
        fieldPaths:
          - spec.routes.0.match
        options:
          delimiter: "`"
          index: 1

patches:
  # Traefik: Cloud-native edge router optimized for development resources
  - target:
      kind: Deployment
      name: traefik
    patch: |-
      - op: test
        path: /spec/template/spec/containers/0/name
        value: traefik

      - op: replace
        path: /spec/replicas
        value: 1

      - op: add
        path: /spec/template/spec/containers/0/resources
        value:
          requests:
            cpu: 50m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
      - op: add
        path: /spec/template/spec/containers/0/env
        value:
          - name: GOMEMLIMIT
            value: "120795955"
