name: "CD: Hydrate Manifests"

on:
  push:
    branches:
      - main
    paths:
      - "kubernetes/applications/**"
      - "kubernetes/components/**"
      - ".github/workflows/cd-hydrate.yaml"
      - ".github/scripts/hydrate.sh"

permissions:
  contents: write

jobs:
  hydrate-manifests:
    name: Hydrate Manifests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v6

      - name: Install CLI Tools
        uses: alexellis/arkade-get@master
        with:
          kustomize: v5.8.1
          helm: v4.1.1

      - name: Hydrate Manifests
        run: .github/scripts/hydrate.sh --source . --dest dist --envs "dev prod"

      - name: Deploy to Hydrated Branch
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: hydrated
          force_orphan: true
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
          commit_message: "chore: hydrate manifests from main"
