name: "Maintenance: PR Labeler"

on:
  pull_request_target:
    branches:
      - main

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Labeler
        uses: actions/labeler@v5
        with:
          configuration-path: .github/settings/pr-labeler.yaml
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
