name: "Maintenance: PR Labeler"

on:
  pull_request_target:
    branches:
      - main

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Labeler
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6
        with:
          configuration-path: .github/settings/pr-labeler.yaml
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
